[configuration]

entry_symbol = "tiny_paws_library_init"
compatibility_minimum = "4.3"

[libraries]

windows.debug.x86_64 = "res://native/bin/tiny_paws_gameplay.windows.template_debug.x86_64.dll"
windows.release.x86_64 = "res://native/bin/tiny_paws_gameplay.windows.template_release.x86_64.dll"
